@font-face {
  font-family: 'jaapokki';
  src: url('fonts/jaapokki.eot');

  src:
  local('Jaapokki'),
  local('Jaapokki'),
  url('fonts/Jaapokki.otf')
  format('opentype');

  src:
  local('jaapokki'),
  local('jaapokki'),
  url('fonts/jaapokki.ttf')
  format('truetype');
}

/*rectangles*/
.menu {
  position: relative;
  width: 25%;
  display: block;
}

.name {
  position: relative;
  border: solid black 3px;
  width: 100.2%;
  height: 150px;
  right: 0.5%;
}

.about {
  position: absolute;
  border: solid black 3px;
  width: 50%;
  height: 40%;
  top: 98%;
  right: 47.5%;
}

.project {
  position: absolute;
  border: solid black 3px;
  width: 87%;
  height: 46%;
  left: -0.4%;
  top: 139.5%;
}

.contact {
  position: absolute;
  border: solid black 3px;
  top: 187%;
  width: 65%;
  left: -0.5%;
  z-index: 1;
}

/*text*/
.name h1 {
  font-family: 'jaapokki', sans-serif;
  font-size: 3.5em;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 20px;
  position: absolute;
  /*bottom: -5%;
  left: 3%;*/
}
