@font-face {
  font-family: 'jaapokki';
  src: url('fonts/jaapokki.eot');

  src:
  local('Jaapokki'),
  local('Jaapokki'),
  url('fonts/Jaapokki.otf')
  format('opentype');

  src:
  local('jaapokki'),
  local('jaapokki'),
  url('fonts/jaapokki.ttf')
  format('truetype');
}

/*rectangles*/
.menu {
  /*border: solid black 2px;*/
  position: relative;
  width: 500px;
  height: 500px;
  display: block;
}

.name {
    position: absolute;
    border: solid black 3px;
    width: 83%;
    height: 150px;
    left: -0.5%;
}

.about {
    position: absolute;
    border: solid black 3px;
    width: 60%;
    height: 22%;
    top: 30.5%;
    left: -0.5%;
}

.project {
    position: absolute;
    border: solid black 3px;
    width: 77%;
    height: 22%;
    left: -0.5%;
    top: 53.1%;
}

.contact {
    position: absolute;
    border: solid black 3px;
    top: 75.7%;
    width: 55%;
    height: 22%;
    left: -0.5%;
    z-index: 1;
}

/*text*/
.name h1 {
  font-family: 'jaapokki', sans-serif;
  font-size: 3.5em;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 20px;
  position: absolute;
  /*bottom: -5%;
  left: 3%;*/
}
