@font-face {
  font-family: 'jaapokki';
  src: url('fonts/jaapokki.ttf');

  src:
  local('jaapokki'),
  local('jaapokki'),
  url('fonts/jaapokki.otf')
  format('opentype');

  src:
  local('jaapokki'),
  local('jaapokki'),
  url('fonts/jaapokki.eot')
  format('truetype');
}

/*rectangles*/
.container{
  width: 500px;
  height: 500px;
  position: relative;
  display: block;
  margin: auto;
  margin-top: 60px;
}

.name {
  width: 100.2%;
  height: 150px;
  border: solid black 3px;
  position: absolute;
}

.role {
  width: 101.2%;
  height: 26px;
  border-top: solid black 2px;
  position: absolute;
  top: 24%;
  left: 0%;
}

.about {
  position: absolute;
  width: 33%;
  height: 40%;
  top: 30.5%;
  left: 0%;
  border: solid black 3px;
}

.project {
  position: absolute;
  width: 33%;
  height: 77%;
  left: 33.6%;
  top: 30.5%;
  border: solid black 3px;
}

.contact {
  position: absolute;
  top: 30.5%;
  left: 67.2%;
  width: 33%;
  height: 55%;
  border: solid black 3px;
  z-index: 1;
}

/*text*/
.name h1 {
  font-family: 'jaapokki', sans-serif;
  font-size: 4.5em;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 20px;
  position: absolute;
  bottom: -34.5%;
  left: 3%;
}

.pages h3 {
  font-family: 'jaapokki', sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;

  position: absolute;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.about h3 {
  top: 54%;
  left: -16%;
}

.project h3 {
  top: 67%;
  left: -33%;
}

.contact h3 {
  top: 58%;
  left: -29%;
}


/*hover*/

.about:hover {
  background: url('../images/space.jpg');
}

.project:hover {
  background: url('../images/space.jpg');
}

.contact:hover {
  background: url('../images/space.jpg');
}


/*Modal*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.modal {
  width: 502px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left:  -247.5px;
  background: #000;
  background-position: -199px -316px;
  border-radius: 66px;
  text-align: center;
  z-index: 10; /* 1px higher than the overlay layer */
}

.modal p {
  font-family: 'jaapokki', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  padding-top: 56px;
}

.social {
  bottom: 15px;
  left: 200px;
  position: absolute;
}
