@font-face {
  font-family: 'Jaapokki-Regular';
  src: url('/css/fonts/jaapokki-regular.eot');
  src: url('/css/fonts/jaapokki-regular.eot?#iefix') format('embedded-opentype'),
  url('/css/fonts/jaapokki-regular.woff') format('woff'),
  url('/css/fonts/jaapokki-regular.ttf')  format('truetype'),
  url('/css/fonts/jaapokki-regular.svg#jaapokki-regular') format('svg');
}




/*layout*/
.container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
  margin-top: 4%;
}

/*rectangles*/
.menu {
  position: relative;
  width: 350px;
  height: 500px;
  display: block;

  float: left;
}

.name {
  position: absolute;
  border: solid black 3px;
  width: 101%;
  height: 105px;
  left: -0.5%;
}

.pages {
  background-color: red;
}

.about {
  position: absolute;
  border: solid black 3px;
  width: 60%;
  height: 22%;
  top: 21.5%;
  left: -0.5%;
}

.project {
  position: absolute;
  border: solid black 3px;
  width: 77%;
  height: 22%;
  left: -0.5%;
  top: 44.1%;
}

.contact {
  position: absolute;
  border: solid black 3px;
  top: 66.7%;
  width: 55%;
  height: 22%;
  left: -0.5%;
  z-index: 1;
}

/*text headers and links*/
.name h1 {
  font-family: 'jaapokki', sans-serif;
  font-size: 2.9em;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 20px;
  position: absolute;
  left: 2%;
  bottom: -30%;
}

.pages h3 {
  font-family: 'jaapokki', sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: absolute;
  color: black;
}

.about h3 {
  top: 58%;
  left: 47%;
}

.project h3 {
  top: 58%;
  left: 36%;
}

.contact h3 {
  top: 58%;
  left: 21%;
}

.copy{
  top: 50%;
  left: 20%;
  font-family: 'Space Mono', monospace;
}

/*content text*/

.content {
  font-size: 1.3em;
  margin-left: 2px;
  padding-left: 50px;
  list-style: none;
  width: 850px;
  height: 600px;
  display: inline-block;
  position: relative;
}

/*Projects*/
/*.projects img{
width: 2px;
}*/
.a .riot {
  color: rgba(0, 0, 0, 0);

}

.content h1 {
  font-family: 'jaapokki', sans-serif;
}

.content p{
  font-family: 'Space Mono', monospace;
  width: 60%;
  display: inline-block;
  line-height: 30px;
}

.content li{
  font-family: 'Space Mono', monospace;
}

#draggable {
  width: 50px;
  height: 50px;
  padding: 0.5em;
}

.projects img {
  width: 300px;
  right: -49px;
}

.hello {
  width: 100px;
  height: 100px;
  color: #decade;
}

/*error*/
.error h1 {
  font-size: 100px;
  font-family: 'jaapokki', sans-serif;
  display: block;
  text-align: center;
}

.error h2 {
  font-size: 50px;
  font-family: 'jaapokki', sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

#error {
  color: red;
  margin-bottom: -108px;
}
